.page-banner {
    height: 260px;
    padding: 130px 0 84px 0;

    &__title {
        text-align: center;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
    }
}

.page-banner__our-coffee {
    background: url('../../assets/img/our-coffee.jpg') center/cover no-repeat;
}

.page-banner__for-your-pleasure {
    background: url('../../assets/img/for-your-pleasure-bg.jpg') center/cover no-repeat;
}
