.info-section {
    padding-top: 70px;

    &__product {

        .info-section__wrapper {
            grid-template-columns: 390px 428px;
            gap: 55px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 272px 350px;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    &__text {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__image {
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
}